azure-functions

django~=3.0.0
django-environ
django-bootstrap4
jsonfield

django-allauth

# https://github.com/ESSolutions/django-mssql-backend
pyodbc
django-mssql-backend

requests
beautifulsoup4

sentry-sdk
opencensus-ext-azure
opencensus-ext-django
