{% extends "champion/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    {% if author %}
        <div class="alert alert-success">
{#            <img src="{{ author.profile.public_photo_url }}" alt="{{ author }}"#}
{#                 style="width: 52px; float: left;" class="mr-2" />#}

            <h4 class="alert-heading">
                {{ author.get_full_name|default:author.username }}'s Shared Links
            </h4>
        </div>
    {% else %}
        <h2>All Links</h2>
        <hr/>
    {% endif %}

    <form action="" method="get" class="form-row mb-3">
        <div class="col-sm-4">
            <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary" value="Search" />
    </form>

    <div class="row">
        {% for link in link_list %}
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="card h-100">
                     <img src="{{ link.properties.image }}" class="card-img-top w-100" alt="{{ link.title }}" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ link.tagged_url }}" class="text-dark">
                                {{ link.title }}
                            </a>
                        </h5>
                         <p class="card-text">
                             {{ link.properties.description }}
                         </p>

                        {% if user == link.author %}
                            <button data-clipboard-text="{{ link.tagged_url }}" class="btn btn-primary btn-sm">
                                Copy to clipboard
                            </button>
                            <a href="{% url 'champion:link_edit' link.pk %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'champion:link_delete' link.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" style="display: block;">
                            Last updated {{ link.updated_at|timesince }} ago
                        </small>

                        {% if not author %}
                            <a href="{% url 'champion:link_list_per_author' link.author.profile.mvp_id %}"
                               class="text-muted">
                                <small>
                                    by {{ link.author.get_full_name|default:link.author.email }}
                                </small>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-sm-12">
                <div class="alert alert-info">
                    Empty List
                </div>
            </div>
        {% endfor %}
    </div>

    {% if page_obj %}
        <div class="mt-3">
            {% bootstrap_pagination page_obj justify_content="center" %}
        </div>
    {% endif %}
{% endblock content %}

{% block extra_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
        $(function() {
            var clipboard = new ClipboardJS('[data-clipboard-text]');
            clipboard.on('success', function(e) {
                e.clearSelection();
                $(e.trigger).tooltip('hide').attr('data-original-title', 'Copied!').tooltip('show');
                setTimeout(function() {
                  $(e.trigger).tooltip('hide');
                }, 1000);
          });
        });
    </script>
{% endblock %}
