{% extends "champion/layout.html" %}

{% block content %}
    <a href="{% url 'champion:link_new' %}" class="btn btn-primary mb-3">New Link</a>

    <table class="table table-bordered table-hover">
        <tbody>
            {% for link in link_list %}
                <tr>
                    <td>
                        [{{ link.mvp_tag }}]
                        <a href="{{ link.tagged_url }}">
                            {{ link.label|default:link.tagged_url }}
                        </a>
                        <small>
                            ({{ link.created_at|timesince }} ago.)
                        </small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
