{% extends "accounts/layout.html" %}

{% block content %}
    <h2>{{ user.get_full_name|default:user.username }}'s Profile</h2>
    <hr/>

    <a href="{% url 'profile_edit' %}" class="btn btn-primary mb-3">Edit profile</a>

    {% if not user.profile %}
        <div class="alert alert-danger">
            You need enter mvp id and docs tag. <a href="{% url 'profile_edit' %}">Go</a>
        </div>
    {% else %}
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>MVP id</th>
                    <td>
                        {{ user.profile.mvp_id|default:"EMPTY" }}
                    </td>
                </tr>
                <tr>
                    <th>Docs Champion Identification Tag</th>
                    <td>
                        {{ user.profile.docs_tag|default:"EMPTY" }}
                    </td>
                </tr>
                <tr>
                    <th>Prefer locale</th>
                    <td>
                        {{ user.profile.prefer_locale|default:"EMPTY" }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
